* {
  font-family: 'Titillium Web', sans-serif;
}
section {
  padding-top: 120px;
  padding-bottom: 120px;
}
h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
}
hr {
  width: 87px;
  border: none;
  height: 4px;
  color: #14a58c;
  background-color: #14a58c;
}
p {
  font-size: 18px;
  margin-top: 24px;
}
.action-button {
  display: inline-block;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 6px #c86a40;
  background: #eb7d4b;
  padding: 27px 82px 23px 82px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none !important;
}
.action-button:hover {
  box-shadow: 0 4px #c86a40;
  background: #eb7d4b;
  transform: translateY(2px);
  color: white;
}
.action-button:active {
  background-color: #eb7d4b;
  transform: translateY(6px);
  box-shadow: none;
}
.action-button:focus {
  color: white;
  outline: 0 !important;
}
.navbar {
  margin-top: 60px;
  font-size: 16px;
  margin: 0;
  padding: 40px;
  background: #87509c;
  transition: all 0.4s ease;
}
.navbar h1 a {
  display: inline-block;
  background: url('https://i.imgur.com/68JOo4e.png') no-repeat;
  width: 117px;
  height: 37px;
  margin-top: 20px;
  text-indent: -3000px;
}
.navbar ul {
  padding: 20px;
}
.navbar ul li a,
.navbar ul li a:visited {
  outline: none;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  background: none !important;
}
.navbar ul li a:hover {
  background-color: #643a79 !important;
}
.navbar ul li.active a,
.navbar ul li.active a:visited,
.navbar ul li.active a:hover,
.navbar ul li.active a:focus {
  background-color: #643a79 !important;
}
.navbar.shrink {
  padding: 0 40px;
  box-shadow: 0 3px 5px #643a79;
}
#home {
  background-color: #87509c;
  color: white;
}
#home h1 {
  text-transform: none;
  margin: 120px 0 62px 0;
}
#home .action-button:hover {
  box-shadow: 0 4px #c86a40;
  background: #eb7d4b;
  transform: translateY(2px);
  color: white;
}
#home .action-button:active {
  background-color: #eb7d4b;
  transform: translateY(6px);
  box-shadow: none;
}
#home .action-button:focus {
  color: white;
  outline: 0 !important;
}
#services {
  background-color: #17c2a4;
  color: white;
}
#services .row i {
  display: block;
  margin: 80px auto 50px auto;
}
#services .row h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
#services .row p {
  font-size: 16px;
  margin: 24px auto 0 auto;
  font-weight: 300;
}
#team {
  background-color: #e7f1f8;
  color: #3c4761;
}
#team hr {
  color: #c8d9e5;
  background-color: #c8d9e5;
}
#team .row {
  color: #27283d;
}
#team .row img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 80px auto 0 auto;
}
#team .row adress {
  font-size: 24px;
  font-weight: 700;
  display: block;
  margin: 40px 0 20px 0;
}
#team .row adress small {
  font-size: 16px;
  color: #30bae7;
}
#team .row p {
  font-size: 16px;
  margin-top: 30px;
  font-weight: 300;
}
#team .row .fa {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: #bdd1df;
  color: #fff;
  font-size: 17px;
  padding-top: 7px;
  margin: 0 5px 0 5px;
}
#team .row .fa:hover {
  background: #17c2a4;
  transition: all 1s;
  text-decoration: none;
}
#skills {
  color: #3c4761;
}
#skills hr {
  color: #c8d9e5;
  background-color: #dfe8ed;
}
#skills .row img {
  margin: 80px auto 32px auto;
}
#skills .row h2 {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
#portfolio {
  background-color: #ffdd99;
  color: #393939;
}
#portfolio hr {
  color: #e5c37f;
  background-color: #e5c37f;
}
#portfolio .nav {
  margin: 45px 0 60px 0;
  display: flex;
  justify-content: center;
}
#portfolio .nav a {
  padding: 12px 30px;
  margin: 0 5px 0 5px;
}
#portfolio .nav-pills > li.active > a,
#portfolio li > a:hover,
#portfolio li > a:focus {
  background: white;
}
#portfolio a {
  background-color: #ebc985;
  text-transform: uppercase;
  color: #393939;
  font-size: 18px;
}
#portfolio a:hover {
  background: white;
}
#portfolio img {
  margin: 0 auto;
}
#portfolio h2 {
  font-size: 18px;
  margin: 30px 0 65px 0;
}
#portfolio .action-button {
  box-shadow: 0 6px #14a58c;
  background: #17c2a4;
  color: #ffffff;
}
#portfolio .action-button:hover {
  box-shadow: 0 4px #14a58c;
  background: #17c2a4;
}
#portfolio .action-button:active {
  background-color: #17c2a4;
  box-shadow: none;
}
#feedback {
  background-color: #d74680;
  padding-bottom: 0;
  color: white;
}
#feedback hr {
  color: #b73c6d;
  background-color: #b73c6d;
}
#feedback p {
  margin-bottom: 80px;
}
#feedback img {
  width: 100px;
}
#feedback .row q {
  margin: 0 auto 20px auto;
  font-size: 21px;
  font-style: italic;
}
#feedback .row address {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 120px;
}
#feedback .row small {
  font-size: 18px;
  color: #ffdd99;
}
#contact {
  background-color: #3c5499;
  padding: 0 auto !important;
  color: white;
}
#contact hr {
  color: #273a71;
  background-color: #273a71;
}
#contact p {
  margin-bottom: 80px;
}
#contact input {
  background-color: #273a71;
  border: none;
  margin-bottom: 27px;
  padding: 25px 0 25px 25px;
}
#contact input::placeholder,
#contact textarea::placeholder {
  color: white;
  font-size: 18px;
}
#contact textarea {
  background-color: #273a71;
  border: none;
  display: block;
  margin: 0 auto;
  height: 200px;
  padding: 20px 0 0 25px;
}
#contact .action-button {
  box-shadow: 0 6px #299ec5;
  background: #30bae7;
  margin-top: 59px;
}
#contact .action-button:hover {
  box-shadow: 0 4px #299ec5;
  background: #30bae7;
}
#contact .action-button:active {
  background-color: #30bae7;
  box-shadow: none;
}
.social-media {
  background-color: #344b8e;
}
.social-media footer {
  margin: 0 auto;
  margin: 22px 0;
  display: flex;
  justify-content: center;
}
.social-media a {
  color: white;
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  margin: 0 22px;
}
.social-media a:hover,
.social-media a:focus {
  color: #30bae7;
  text-decoration: none;
}
.chart {
  width: 160px;
  height: 160px;
  position: relative;
}
