* {
  font-family: 'Titillium Web', sans-serif;
}

.display-gap-grid {
  display: grid;
  grid-column-gap: 30px;
}

.grid-area {
  div:nth-child(1) {
    grid-area: top;
  }
  div:nth-child(2) {
    grid-area: col1;
  }
  div:nth-child(3) {
    grid-area: col2;
  }
  div:nth-child(4) {
    grid-area: col3;
  }
  div:nth-child(5) {
    grid-area: col4;
  }
}

.four-column-grid {
  display: grid;
  grid-column-gap: 5px;

  grid-template-columns: 10px auto auto 10px;
  grid-template-rows: 120px auto 120px auto 65px auto 65px auto 65px auto 120px;
  grid-template-areas: ". . . ."
  ". top top ."
  ". . . ."
  ". col1 col1 ."
  ". . . ."
  ". col2 col2 ."
  ". . . ."
  ". col3 col3 ."
  ". . . ."
  ". col4 col4 .";

  .grid-area;

  @media all and (min-width: 768px) {
    grid-template-columns: 10px auto auto 10px;
    grid-template-rows: 120px auto 120px auto 65px auto 120px;
    grid-template-areas:". . . ."
    ". top top ."
    ". . . ."
    ". col1 col2 ."
    ". . . ."
    ". col3 col4 .";

    .grid-area;
  }

  @media all and (min-width: 1020px) {
    grid-template-columns: 10px auto auto auto auto 10px;
    grid-template-rows: 120px auto 120px auto 120px;
    grid-template-areas: ". . . . . ."
    ". top top top top ."
    ". . . . . ."
    ". col1 col2 col3 col4 .";
  }

  @media all and (min-width: 1220px) {
    @block-size: unit((1170 - 3*28) /4, px);

    grid-template-columns: auto @block-size @block-size @block-size @block-size auto;
    grid-template-rows: 120px auto 120px auto 120px;
    grid-column-gap: unit(28, px);

    /* 3 x @gutter + 4 x @block = 1170 */
    /* b = (1170 - 3g) / 4*/
  }
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
}

hr {
  width: 87px;
  border: none;
  height: 4px;
  color: #14a58c;
  background-color: #14a58c;
}

p {
  font-size: 18px;
  margin-top: 24px;
}

.action-button {
  display: inline-block;
  border: none;
  text-transform: uppercase;
  box-shadow: 0 6px #c86a40;
  background: #eb7d4b;
  padding: 27px 82px 23px 82px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none !important;
}

.action-button:hover {
  box-shadow: 0 4px #c86a40;
  background: #eb7d4b;
  transform: translateY(2px);
  color: white;
}

.action-button:active {
  background-color: #eb7d4b;
  transform: translateY(6px);
  box-shadow: none;
}

.action-button:focus {
  color: white;
  outline:0 !important;
}

.navbar {
  font-size: 16px;
  margin: 0;
  padding: 40px;
  background: #87509c;
  transition: all 0.4s ease;

  h1 {
    margin-top: 13px;
    color: white;
    font-size: 50px;
  }

  ul {
    padding: 20px;

    li {
      a, a:visited {
        outline: none;
        text-transform: uppercase;
        color: white;
        font-size: 16px;
        background: none !important;
      }

      a:hover {
        background-color: #643a79 !important;
      }
    }

    li.active {
      a, a:visited, a:hover, a:focus {
        background-color: #643a79 !important;
      }
    }
  }
}

.navbar.shrink {
  padding: 0 40px;
  box-shadow: 0 3px 5px #643a79;
}

#home {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #87509c;
  color: white;

  h1 {
    text-transform: none;
    margin: 120px 0 62px 0;
  }

  .action-button:hover {
    box-shadow: 0 4px #c86a40;
    background: #eb7d4b;
    transform: translateY(2px);
    color: white;
  }

  .action-button:active {
    background-color: #eb7d4b;
    transform: translateY(6px);
    box-shadow: none;
  }

  .action-button:focus {
    color: white;
    outline:0 !important;
  }
}

#services {
  background-color: #17c2a4;
  color: white;
  .four-column-grid;

  i {
    display: block;
    margin-bottom: 50px;
    font-size: 140px;
    color: #e7f1f8;
  }

  h2 {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    margin: 24px auto 0 auto;
    font-weight: 300;
  }
}

#team {
  background-color: #e7f1f8;
  color: #3c4761;
  .four-column-grid;

  hr {
    color: #c8d9e5;
    background-color: #c8d9e5;
  }

  >div {
    color: #27283d;

    img {
      width: 200px;
      height: 200px;
      display: block;
      margin: 0 auto;
    }

    address {
      font-size: 24px;
      font-weight: 700;
      display: block;
      margin: 40px 0 20px 0;

      small {
        font-size: 16px;
        color: #30bae7;
      }
    }

    p {
      font-size: 16px;
      font-weight: 300;
    }

    .fa {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background: #bdd1df;
      color: #fff;
      font-size: 17px;
      padding-top: 7px;
      margin: 0 5px 0 5px;
    }

    .fa:hover {
      background: #17c2a4;
      transition: all 1s;
      text-decoration: none;
    }
  }
}

#skills {
  color: #3c4761;
  .four-column-grid;

  hr {
    color: #c8d9e5;
    background-color: #dfe8ed;
  }

  >div {
    .chart {
      width: 250px;
      height: 250px;
      position: relative;
      margin: 0 auto;

    }

    h2 {
      font-size: 24px;
      font-weight: 700;
      margin: 0;
      opacity: 0;
      text-align: center;
    }
  }
}

#portfolio {
  background-color: #ffdd99;
  color: #393939;

  hr {
    color: #e5c37f;
    background-color: #e5c37f;
  }

  >div {
    img {
      margin: 0 auto;
    }

    p {
      font-size: 18px;
      margin-top: 30px;
    }
  }

  .action-button {
    box-shadow: 0 6px #14a58c;
    background: #17c2a4;
    color: #ffffff;
  }

  .action-button:hover {
    box-shadow: 0 4px #14a58c;
    background: #17c2a4;
  }

  .action-button:active {
    background-color: #17c2a4;
    box-shadow: none;
  }

  .display-gap-grid;

  grid-template-columns: 10px 1fr 1fr 10px;
  grid-template-rows: 120px auto 120px auto 65px auto 65px auto 65px auto 65px auto 120px;
  grid-template-areas: ". . . ."
  ". top top ."
  ". . . ."
  ". col1 col1 ."
  ". . . ."
  ". col2 col2 ."
  ". . . ."
  ". col3 col3 ."
  ". . . ."
  ". col4 col4 ."
  ". . . ."
  ". btn btn .";

  .grid-area;
  div:nth-child(6) {
    grid-area: btn;
  }

  @media all and (min-width: 800px) {
    grid-template-rows: 120px auto 120px auto 65px auto 65px auto 120px;
    grid-template-areas: ". . . ."
    ". top top ."
    ". . . ."
    ". col1 col2 ."
    ". . . ."
    ". col3 col4 ."
    ". . . ."
    ". btn btn .";

    .grid-area;
    div:nth-child(6) {
      grid-area: btn;
    }
  }

  @media all and (min-width: 1220px) {
    @block-size: unit((1220 - 30) /2, px);

    grid-template-columns: auto @block-size @block-size auto;
    grid-template-rows: 120px auto 120px 1fr 65px 1fr 65px auto 120px;
    grid-column-gap: 30px;
  }
}

#feedback {
  background-color: #d74680;
  padding-bottom: 0;
  color: white;

  hr {
    color: #b73c6d;
    background-color: #b73c6d;
  }

  img {
    width: 100px;
  }

  >div {
    filter: blur(5px);

    q {
      margin: 0 auto 20px auto;
      font-size: 21px;
      font-style: italic;
    }

    address {
      margin: 0 auto;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 700;
    }

    small {
      font-size: 18px;
      color: #ffdd99;
    }
  }

    .display-gap-grid;

    grid-template-columns: 10px auto auto 10px;
    grid-template-rows: 120px auto 120px auto 80px auto 80px auto 80px auto 120px;
    grid-template-areas: ". . . ."
    ". top top ."
    ". . . ."
    ". col1 col2 ."
    ". . . ."
    ". col3 col4 ."
    ". . . ."
    ". col5 col6 ."
    ". . . ."
    ". col7 col8 .";

    .grid-area;
    div:nth-child(6) {
      grid-area: col5;
    }
    div:nth-child(7) {
      grid-area: col6;
    }
    div:nth-child(8) {
      grid-area: col7;
    }
    div:nth-child(9) {
      grid-area: col8;
    }

  @media all and (min-width: 800px) {
    grid-template-columns: 10px auto auto auto auto 10px;
    grid-template-rows: 120px auto 120px auto 120px auto 120px;
    grid-template-areas: ". . . . . ."
    ". top top top top ."
    ". . . . . ."
    ". col1 col2 col3 col4 ."
    ". . . . . ."
    ". col5 col6 col7 col8 .";
  }

  @media all and (min-width: 1220px) {
    @block-size: unit((1220 - 3*30) /2 - (2*100), px);

    grid-template-columns: auto 100px @block-size 100px @block-size auto;
    grid-template-rows: 120px auto 120px auto 120px auto 120px;
    grid-column-gap: unit(30, px);
  }
}

#contact {
  background-color: #3c5499;
  padding-top: 120px;
  padding-bottom: 120px;

  hr {
    color: #273a71;
    background-color: #273a71;
  }

  h1, a, p {
    color: white;
  }

  input {
    background-color: #273a71;
    border: none;
    padding: 25px 0 25px 25px;
  }

  input::placeholder, textarea::placeholder {
    color: white;
  }

  textarea {
    background-color: #273a71;
    border: none;
    display: block;
    margin: 0;
    height: 200px;
    padding: 20px 0 0 25px;
  }

  input.form-control, textarea.form-control  {
    color: white;
    font-size: 18px;
  }

  .action-button {
    box-shadow: 0 6px #299ec5;
    background: #30bae7;
  }

  .action-button:hover {
    box-shadow: 0 4px #299ec5;
    background: #30bae7;
  }

  .action-button:active {
    background-color: #30bae7;
    box-shadow: none;
  }

  form {
    margin-top: 80px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name email"
      "message message"
      "submit submit";

    input[name="name"] {
      grid-area: name;
    }

    input[name="_replyto"] {
      grid-area: email;
    }

    textarea {
      grid-area: message;
    }

    p {
      margin-top: 0;
      grid-area: submit;
    }

  }
}

#social-media {
  background-color: #344b8e;

  footer {
    margin: 22px 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  a {
    color: white;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 22px 22px 0;
  }

  a:hover, a:focus {
    color: #30bae7;
    text-decoration: none;
  }
}